article {
    code, pre {
        font-family: 'Open Sans', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", sans-serif;
    }

    code, .line-numer {
        font-size: 0.9em;
    }

    img, video, .flash-video, .caption-wrapper {
        webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        border-radius: 0.3em;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: #fff 0.5em solid;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container .mid-col .mid-col-container #content article[itemprop="blogPost"],
.container .mid-col .mid-col-container #content article.post {
    padding: 40px 0px;
}
.container .mid-col .mid-col-container #content article[itemprop="blogPost"] .title,
.container .mid-col .mid-col-container #content article.post .title {
    font-size: 2.5em;
}